<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改消防系统')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-protection-edit" th:object="${fireProtection}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">管理部门：</label>
                <div class="col-sm-8">
                    <input name="administrativeDepartment" th:field="*{administrativeDepartment}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备品牌：</label>
                <div class="col-sm-8">
                    <input name="assetBrand" th:field="*{assetBrand}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产编码：</label>
                <div class="col-sm-8">
                    <input name="assetCode" th:field="*{assetCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">产品序列号：</label>
                <div class="col-sm-8">
                    <input name="assetSerialNumber" th:field="*{assetSerialNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设备型号：</label>
                <div class="col-sm-8">
                    <select name="assetType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">资产价值：</label>
                <div class="col-sm-8">
                    <input name="assetValue" th:field="*{assetValue}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">品牌属地：</label>
                <div class="col-sm-8">
                    <input name="brandLand" th:field="*{brandLand}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">部署区域：</label>
                <div class="col-sm-8">
                    <select name="deployArea" class="form-control m-b" th:with="type=${@dict.getType('administrative')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{deployArea}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属机房：</label>
                <div class="col-sm-8">
                    <input name="deployComputerRoom" th:field="*{deployComputerRoom}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">部署数据中心：</label>
                <div class="col-sm-8">
                    <input name="deployDb" th:field="*{deployDb}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属楼层：</label>
                <div class="col-sm-8">
                    <input name="deployFloor" th:field="*{deployFloor}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属楼座：</label>
                <div class="col-sm-8">
                    <input name="deployGallery" th:field="*{deployGallery}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设施分类标识符：</label>
                <div class="col-sm-8">
                    <input name="facilityCategory" th:field="*{facilityCategory}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设施标识符：</label>
                <div class="col-sm-8">
                    <input name="facilityDescriptor" th:field="*{facilityDescriptor}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设施名称：</label>
                <div class="col-sm-8">
                    <input name="facilityName" th:field="*{facilityName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设施归属机构：</label>
                <div class="col-sm-8">
                    <input name="facilityOwnershipAgency" th:field="*{facilityOwnershipAgency}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设施信息更新日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="facilityUpdateDate" th:value="${#dates.format(fireProtection.facilityUpdateDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设施投产日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="facilityUseDate" th:value="${#dates.format(fireProtection.facilityUseDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">设施在用状态：</label>
                <div class="col-sm-8">
                    <input name="facilityUseState" th:field="*{facilityUseState}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">火灾报警系统：</label>
                <div class="col-sm-8">
                    <input name="fireAlarmSystem" th:field="*{fireAlarmSystem}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">消防排烟系统：</label>
                <div class="col-sm-8">
                    <input name="fireExhaustSystem" th:field="*{fireExhaustSystem}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">气体灭火系统：</label>
                <div class="col-sm-8">
                    <input name="gasExhaustSystem" th:field="*{gasExhaustSystem}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">维修故障原因：</label>
                <div class="col-sm-8">
                    <input name="maintenanceCause" th:field="*{maintenanceCause}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">维修结果：</label>
                <div class="col-sm-8">
                    <input name="maintenanceResults" th:field="*{maintenanceResults}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">维修时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="maintenanceTime" th:value="${#dates.format(fireProtection.maintenanceTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">运维部门：</label>
                <div class="col-sm-8">
                    <input name="operationDepartment" th:field="*{operationDepartment}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">其它系统：</label>
                <div class="col-sm-8">
                    <input name="otherSystems" th:field="*{otherSystems}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注信息：</label>
                <div class="col-sm-8">
                    <input name="remarksInformation" th:field="*{remarksInformation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">服务截止时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="serviceEndTime" th:value="${#dates.format(fireProtection.serviceEndTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">服务级别：</label>
                <div class="col-sm-8">
                    <input name="serviceLevel" th:field="*{serviceLevel}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">服务提供商：</label>
                <div class="col-sm-8">
                    <input name="serviceProvider" th:field="*{serviceProvider}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">服务开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="serviceStartTime" th:value="${#dates.format(fireProtection.serviceStartTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">极早期烟感探测系统：</label>
                <div class="col-sm-8">
                    <input name="smokeDetectionSystem" th:field="*{smokeDetectionSystem}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">水喷淋灭火系统：</label>
                <div class="col-sm-8">
                    <input name="sprinklerSystem" th:field="*{sprinklerSystem}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">细水雾灭火系统：</label>
                <div class="col-sm-8">
                    <input name="waterExhaustSystem" th:field="*{waterExhaustSystem}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="status" value="">
                        <label th:for="status" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "datasync/protection";
        $("#form-protection-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-protection-edit').serialize());
            }
        }

        $("input[name='facilityUpdateDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='facilityUseDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='maintenanceTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='serviceEndTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='serviceStartTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>